# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
venv/*
__pycache__/
.idea/
landings/db.db
.env
db.db
*.db
landings/db.db
landings/db.sqlite3
landings/db.sqlite3.backup
db.db
*.log
df
*.ini
_venv
myenv